:root{  --blue: #3E80C4; }

html, body{ background-color: var(--blue);}

.card{
    max-width: 500px;
    text-align: justify;
}

.card h2{ max-width: 455px;}

img{max-width: 500px;}

@media screen and (min-width: 992px) {
    #content-box{
        flex-flow: row nowrap !important;
    }
}